@media (max-width:320px) {
    hr{
        color: #333333;
    }
    
    .Line{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #tec{
    
        height: 60vh;
    }
    
    .htec{
        color: white;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    #scroll{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 160px;
        height: 40vh;
        background-color: transparent;
        text-align: center;
        border: none;
        display: flex;
        align-items: center;
        color: whitesmoke;
        perspective: 1000px;
    }
    .flipped .card-inner {
        transform: rotateY(180deg);
    }
    .card-front{
        background-color: transparent;
        height: 100%;
        flex-direction: column;
        border-radius: 5px;
        color: white !important;
        -webkit-box-shadow:0px 0px 61px 0px rgba(255,255,255,0.2);
-moz-box-shadow: 0px 0px 61px 0px rgba(255,255,255,0.2);
box-shadow: 0px 0px 61px 0px rgba(255,255,255,0.2);
        
    }
    .card-back {
        transform: rotateY(180deg);
        background: transparent;
        border-radius: 5px;
        color: white !important;
        font-size: 0.8rem;
        padding: 5px;
        -webkit-box-shadow:0px 0px 61px 0px rgba(255,255,255,0.2);
-moz-box-shadow: 0px 0px 61px 0px rgba(255,255,255,0.2);
box-shadow: 0px 0px 61px 0px rgba(255,255,255,0.2);
        font-weight: bold;
    }
    .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }
    .card>h1{
        font-weight: bold;
        border-bottom: solid 1px;
        width: fit-content;

    }
    
    .react{
        font-size: 5.5rem;
        margin-bottom: 30px;
        color: rgb(0, 163, 163);
    }
    
    #containercard{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #containercard>.card{
        margin-top: 40px;
    }
    .js{
        color: yellow;
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .sql{
        color: blue;
        font-size: 5.5rem;
        margin-bottom: 10px;
    }
    .git{
        color: rgb(226, 45, 45);
        font-size: 5.5rem;
        margin-bottom: 20px;
    }
    .code{
        color: rgb(0, 255, 106);
        font-size: 5.5rem;
        margin-bottom: 10px;
    }
}
