


/*
@media (max-width:768px) {
    .nome{
        font-size: 1.3rem;
        display: flex;
        height: 8vh;
        align-items: center;
        justify-content: center;
        color: #E0E7FF;
        margin-top: 5px;
    }
    .info{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 1.2rem;
    }
    .info>li{
        margin-right: 50px;
    }
    button{
        background-color: transparent;
        border: solid 1px white;
        border-radius: 15px;
        color: white;
        font-size: 1rem;
        padding: 5px;
    }
}
*/
@media (min-width:320px) and (max-width:760px){
    .informacao{
        display: none !important;
        position: absolute !important;
        left: 50% !important;
        width: 50% !important;
        height: 100vh !important;
        background-color: black !important;
        padding-top: 30px !important;
        -webkit-box-shadow:0px 0px 96px 25px rgba(255,255,255,0.16);
        -moz-box-shadow: 0px 0px 96px 25px rgba(255,255,255,0.16);
        box-shadow: 0px 0px 96px 25px rgba(255,255,255,0.16);
    }
    .hide{
        display: block !important;
        position: fixed !important;
        left: 50% !important;
        width: 50% !important;
        height: 100vh !important;
        background-color: black !important;
        padding-top: 30px !important;
        -webkit-box-shadow:0px 0px 96px 25px rgba(255,255,255,0.16);
        -moz-box-shadow: 0px 0px 96px 25px rgba(255,255,255,0.16);
        box-shadow: 0px 0px 96px 25px rgba(255,255,255,0.16);
    }
    .xiz{
        font-size: 2rem;
        margin-left: 50%;
    }
    .info{
        line-height: 2;
        
    }
    button{
        background-color: transparent;
        color: white;
    }
    #check{
        width:30%;
        border-radius: 200px;
        border: solid 1px white;
        margin-top: 100%;
        margin-left: 50%;
    }
    #check:hover{
        background-color: white;
        color: black;
        transition: 0.8s;
    }
    .btnfalecomigo{
        font-size: 16px;
        color: white;
        border-radius: 10px;
        background: transparent;
        border: none;
        cursor: pointer;
        font-family: 'roboto';
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #list{
        font-size: 2rem;
        margin-right: 30px;
        color: white !important;
    }
}



@media (max-width:320px) {
    .nome{
        font-size: 1.3rem;
        margin-top: 10px;
        color: #E0E7FF;
    }
    #hamb{
        margin-top: 5%;
    }
    
}
@media (max-width:375px) {
    .nome{
        font-size: 1.3rem;
        margin-top: 10px;
        color: #E0E7FF;
    }
    #hamb{
        margin-top: 5%;
    }
}
@media (max-width:425px) {
    .nome{
        font-size: 1.3rem;
        margin-top: 10px;
        color: #E0E7FF;
    }
    #hamb{
        margin-top: 3.5%;
    }
}
html{
    scroll-behavior: smooth;
}


@media (min-width:760px) {
    #hamb{
        display: none;
    }
    .xiz{
        display: none;
    }
    .info{
        width: 70vw;
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        font-size: 1.3rem;
    }
    .name{
        font-size: 1.3rem;
    }
    button{
        background-color: transparent;
        color: white;
        border: solid 1px white;
        border-radius: 10px;
        padding: 5px;
    }
}

.name{
    margin-top: 20px;
}
#hamb{
    margin-top: 20px;
}
.dark{
    background: rgb(165,128,171);
    background: linear-gradient(90deg,  #ffffff 50%, #dddddd 100%);
}

.darklinks{
    color: black !important;
    border-color: black;
}

.darktitulo{
    color: black !important;
}

.darkinput{
    border: solid 1px black !important;
    color: black !important;
}
.darkinput:focus{
    border: solid 1px black !important;
}

