

*{
    padding: 0;
    margin: 0;
    font-family: 'roboto';
}

body{
    background-color: black;
}
html, body {
    overflow-x: hidden;
}


#root {
height: 100vh;
width: 100vw;

color: #ffff ;
}
a{
    text-decoration: none;
    color: #ffff;
}
li{
    list-style: none;
}
ul{
    list-style: none;
}

header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow:0px 0px 55px 15px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 55px 15px rgba(51,51,51,1);
    box-shadow: 0px 0px 55px 15px rgba(51,51,51,1);
    background-color: black;
    z-index: 99999;
}


